<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036856557158-sdg8hdba47drm1bs1esqgkdf4qcd5nbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036856557158-sdg8hdba47drm1bs1esqgkdf4qcd5nbu</string>
	<key>API_KEY</key>
	<string>AIzaSyBZHDyTfVwOaqpFWPvK_y8vCQ0vPNEf-Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>1036856557158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahamApp</string>
	<key>PROJECT_ID</key>
	<string>maham-app-e271a</string>
	<key>STORAGE_BUCKET</key>
	<string>maham-app-e271a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036856557158:ios:bc8a249c745573c55a37a7</string>
</dict>
</plist>